<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140249237956-4ti87bk6o0ud5jioac88p058e8s5of45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140249237956-4ti87bk6o0ud5jioac88p058e8s5of45</string>
	<key>API_KEY</key>
	<string>AIzaSyCWH-hpHDDSXCNf46rEz55kuEEoPwHbXKU</string>
	<key>GCM_SENDER_ID</key>
	<string>140249237956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kamilpapierkowski.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait0209</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait0209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140249237956:ios:73d5131837d9777c1bbc91</string>
</dict>
</plist>